%label(for="name")Name:
%input#name(type="text" name="rabbit[name]"value="#{@rabbit.name}")

%label(for="colour")Colour:
%select#quantity(name="rabbit[colour]")
  - %w[black white grey brown].each do |colour|
    %option{:value => colour, :selected => (true if colour == @rabbit.colour)}= colour
    
%label(for="description") Description:
%textarea#description(name="rabbit[description]")
  =@rabbit.description
  
%label(for="quantity") Age:
%input#age(type="text" name="rabbit[age]"value="#{@rabbit.age}")